
<div class="container">
  <div class="sixteen columns fadeable">

    <blockquote>sometimes a picture is worth a thousand words...</blockquote>
    <h2>Personality Palette...</h2>
    <p> is a simple journal-based system that maps felt emotions between entries. Currently, it supports your current emotion palette over the last week, but future implementation will allow you to view up to the last 30 to 90 days.   </p>

    <h4>To get started...</h4>
    <p> click the new Entry button.  You can then select a color to represent link an emotion to the post, and fill in some details about how you're feeling.  You must log an event, emotion and a small description; the location and weather conditions will also be logged for future data visualization.</p>
    <p>We recommend that you create at least two entries per a day to get a more robust visualization, but it's completely up to you.  Whenever you feel something, leave an entry.  You can look back at how you've felt and why to get a better understanding of yourself and the events that affect you.</p>
  </div>
</div>
