/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

h4, h3, h2, h1{
  font-family: 'Hind', sans-serif;
}
table tr{
  display:inline-block;
}
table td{
  padding:0px 10px 0px 10px;
}
#emotion-wheel-gradients{
  /*float:left;*/
  overflow:auto;
}
#nav{
  background: #666666;
  width: 100%;
  box-shadow: 2px 2px 10px #808080;
}
#nav h2{
  color: #FFFFFF;
  font-family: 'Hind', sans-serif;
}
#nav ul{
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
  text-align: right;
}
#nav li{
  list-style: none;
  display: inline-block;
}
#nav ul a{
  text-decoration: none;
  padding: 5px;
  display: block;
  background: #EBF4FA;
  box-shadow: 2px 2px 10px #808080;
  border-radius: 4px;
}
.nav-bar ul{
  float:right;
}
#flash{
  width: 100%;
  padding: 5px;
  text-align: center;
}

#flash.hidden {
  display: none;
}

#log-window{
  box-shadow: 2px 2px 10px #808080;
  border-radius: 25px;
  padding: 30px 30px 30px 30px;
}

#log-window input{
  width: 100%;
}

#weather-info{
  height: 300px;
  width: 300px;
  margin: 10px;
}
.calendar-control{
  display: inline-block;
  float: left;
  margin: 5px;
}

.session-log{
  text-align:right;
}

.entry-display{
  width: 280px;
  height: 225px;
  box-shadow: 2px 2px 10px #808080;
  border-radius: 10px;
  overflow: auto;
  display: inline-block;
  padding: 10px;
  background-image: url();
  float: left;
  margin: 10px;
}
div .single-entry{
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}
input#color-to-emotion{
  position: center;
}
.neutral{
  background: rgba(0,0,0,0.2);
}
.happy {
  background: rgba(0,255,0,0.5);
}
.angry{
  background: rgba(255,0,0,0.5);
}
.afraid{
  background: rgba(255,201,0,0.5);
}
.surprised{
  background: rgba(255,255,0,0.5);
}
.disgusted{
  background: rgba(75,0,150,0.75);
  color: #CCCCCC;
}
.sad{
 background: rgba(0,0,255,0.5);
}
.x-scrollable{
  overflow-x: auto;
}
.svg-container{
  width: 100%;
}
.centerable {
  text-align: center;
  width: 100%;
}
.form-box textarea input{
  display: inline-block;
}
.site-logo{
  height: 50px;
  width: 50px;
  margin-top: 5px;
  vertical-align: middle;
}
